.photoPage {
    width: 100%;



    & .page__header {
        position: relative;
        width: 100%;

        @media screen and (min-width: 960px) {
            max-height: 700px;
            overflow: hidden;
        }

        & img {
            width: 100%;
            height: auto;
        }

        & .page__header__wrapper {
            width: 100%;


            & h1 {
                position: absolute;
                box-sizing: border-box;
                top: 30%;
                width: 100%;
                font-size: 29px;
                font-weight: 200;
                text-align: center;
                color: #ffffff;
                z-index: 1;

                @media screen and (min-width: 660px) {
                    font-size: 50px;
                }

            }

            & p {
                position: absolute;
                bottom: 0;
                font-size: 16px;
                text-align: center;
                width: 100%;
                padding: 55px 40px;
                box-sizing: border-box;
                background-color: #ffffff;
                color: #45515e;

                @media screen and (min-width: 660px) {
                    font-size: 20px;
                    padding: 100px 80px 80px 80px;
                }

                @media screen and (min-width: 960px) {
                    padding: 100px 300px;
                }

            }
        }
    }

    & .panorama {
        width: 100%;
        box-sizing: border-box;

        & img {
            width: 100%;
            height: auto;
            display: block;
        }

        & .panorama__description {
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px;

            & .likesMobile {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0 0 20px 20px;
                color: red;
                background-color: #f2f2f2;

                & img {
                    width: 15px;
                    height: 15px;
                }
            }


            @media screen and (min-width: 960px) {
                width: 960px;
                margin: 0 auto;
            }

            & .whoWroteLikes {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 20px 5px 20px;
                background-color: #f2f2f2;

                & .who {
                    color: #000000;
                    font-weight: 700;
                    font-size: 20px;

                    & span {
                        color: #bcc0c4;
                        font-size: 14px;
                    }
                }

                & .likes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    color: red;

                    & img {
                        width: 15px;
                        height: 15px;
                    }

                }
            }

            & .description {
                color: #283645;
                font-size: 18px;
                padding: 0 20px 10px 20px;
                background-color: #f2f2f2;
            }
        }
    }

    & .cards {
        width: 100%;
        padding: 20px;

        & .cards__list {
            width: 100%;

            @media screen and (min-width: 660px) {
                padding: 50px 20px 20px 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
            }

            @media screen and (min-width: 960px) {
                width: 960px;
                margin: 0 auto;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            & .item {
                width: 100%;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 660px) {
                    margin-bottom: 20px;
                }

                & img {
                    width: 100%;
                    height: auto;
                }

                & .description {
                    flex-grow: 1;
                    background-color: #f2f2f2;
                    display: flex;
                    flex-direction: column;



                    & .who {
                        color: #000000;
                        font-weight: 700;
                        font-size: 20px;
                        padding: 20px 0 5px 20px;

                        & span {
                            color: #bcc0c4;
                            font-size: 14px;
                        }
                    }

                    & .description__image {
                        color: #283645;
                        font-size: 18px;
                        padding: 0 20px 10px 20px;
                    }

                    & .likes {
                        display: flex;
                        align-items: flex-end;
                        flex-grow: 1;
                        gap: 10px;
                        color: red;
                        padding: 0 0 20px 20px;

                        & img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }

    & .postIt {
        width: 100%;


        & h2 {
            text-align: center;
            padding: 30px 20px 50px 20px;
            color: #283645;

            @media screen and (min-width: 660px) {
                padding: 50px 20px 75px 20px;
            }
        }

        & .filters {
            width: 100%;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 660px) {
                flex-direction: row;
                justify-content: space-between;
            }

            @media screen and (min-width: 960px) {
                width: 940px;
                margin: 0 auto;
            }

            & .image {
                padding: 20px;
                width: 100%;
                margin-bottom: 20px;

                @media screen and (min-width: 960px) {
                    padding: 70px;
                }

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            & .image__filter {
                width: 100%;



                @media screen and (min-width: 660px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                }

                @media screen and (min-width: 960px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 40px;
                }



                & .filter {
                    width: 100%;

                    & .filter__btn {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;

                        & .crop,
                        .fill,
                        .contracts {
                            display: none;
                        }

                        & label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 50px;
                        }

                        & input:checked+label {
                            background-color: #d22856;
                            border-radius: 5px;
                        }
                    }


                    & .sliders {
                        width: 100%;
                        padding: 0 20px;


                        & form {
                            position: relative;
                            width: 100%;
                            padding: 100px 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 25px;

                            @media screen and (min-width: 660px) {
                                padding: 50px 20px;
                            }

                            & .sliders__wrapper__crop,
                            .sliders__wrapper__fill,
                            .sliders__wrapper__contracts {
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 0;
                                width: 100%;
                                border-bottom: 2px solid rgba(0, 0, 0, 0.219);

                                @media screen and (min-width: 660px) {
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;
                                }


                                & img {
                                    background-color: #d22856;
                                    border-radius: 5px;
                                    width: 44px;
                                    height: 44px;
                                    padding: 4px;
                                }

                                & input[type='range'] {
                                    width: 100%;
                                    margin: 40px 0;
                                    appearance: none;
                                    width: 100%;
                                    height: 3px;
                                    border-radius: 5px;
                                    background-color: #000000b6;

                                    &::-webkit-slider-thumb {
                                        appearance: none;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        background-color: #ffffff;
                                        border: 2px solid #d22856;

                                        &:hover {
                                            background-color: #d22856;
                                        }
                                    }
                                }

                                @media screen and (min-width: 660px) {
                                    position: relative;
                                }
                            }


                        }
                    }
                }

                & .submit__image {
                    width: 100%;
                    padding: 30px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    @media screen and (min-width: 660px) {
                        flex-direction: row;
                        gap: 10px;
                    }

                    @media screen and (min-width: 960px) {
                        flex-direction: row;
                        gap: 30px;
                    }

                    & button {
                        width: 100%;
                        height: 50px;
                        border: 2px solid #d22856;
                        border-radius: 50px;
                        font-size: 20px;
                        color: #d22856;

                        @media screen and (min-width: 660px) {
                            width: 100%;
                        }

                        &:hover {
                            background-color: #d22856;
                            color: #ffffff;
                        }
                    }

                    & button:last-child {
                        border: 2px solid #6e6668;
                        color: #45515e;

                        &:hover {
                            background-color: transparent;
                            border: 2px solid #6e666870;
                            color: #45515e6b;
                        }
                    }
                }
            }
        }
    }
}